name: Changelog
on:
  release:
    types:
      - created
  push:
    branches: [main]
    paths:
      - .github/workflows/changelog.yml

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Print changelog
        run: echo $CHANGELOG
        env: 
          CHANGELOG: ${{ steps.github_release.outputs.changelog }}
